


/* EXAMPLE */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  transition: background 800ms;
}

html {
  /* height: 100%; */
  /* background: #40b7d7; */
  font: bold 18px helvetica, sans-serif;
  color: rgb(90, 90, 90);
}

